/* =============
    Base
============= */


body{background-color: whitesmoke;}


#grid-container 
{
    display: grid;
    //grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 50% 50%;
    //Why do I need grid-template-areas? Won't go automatically 
  
    //gap: 24px;
    grid-template-areas:"p  b"

}
   
  

  .grid-item 
  {
    height: 100%;
  }
  
  #photo 
  {
    background-color: #d24545;
    grid-area: p;
  }
  
  #bio 
  {
    background-color: #d2cd45;
    grid-area: b;
  }



#hero
{
    width: 100%;
}

  
  
  

   
  



