/* =============
    Base
============= */


body{background-color: whitesmoke;}


#grid-container 
{
    display: grid;
    //grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 50% 50%;
    //Why do I need grid-template-areas? Won't go automatically 
  
    //gap: 24px;
    grid-template-areas:"p  b"

}
   
  

.grid-item 
{
    height: 100%;
}
  
#photo 
{
    background-color: #d24545;
    grid-area: p;
}
  
#bio 
{
    background-color: #d2cd45;
    grid-area: b;
}


#navi
{
    width: 100%;
    display: flex;
    
    justify-content: center;
    justify-content: space-around;
    
 

    

        
  
      a:link, a:visited
      {
          color: var(--purple);
          text-decoration: none;
  
      }
      a:hover, a:active
      {
          color: whitesmoke;
      }
  
}

#navi2
{
    
    
 

    

        
  
      a:link, a:visited
      {
          color: var(--purple);
          text-decoration: none;
  
      }
      a:hover, a:active
      {
          color: rgb(239, 92, 227);
      }
  
}



#title
{
  
      a:link, a:visited
      {
          color: var(--purple);
          text-decoration: none;
  
      }
      a:hover, a:active
      {
          color: whitesmoke;
      }
  
}



#hero
{
    width: 100%;
}

  
  
  

   
  



