/* =============
    Base
============= */


body{background-color: whitesmoke;}




#grid-container 
{
    display: grid;
    //grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 50% 50%;
    //Why do I need grid-template-areas? Won't go automatically 

    align-items: center;
    background-color: black;

    //gap: 24px;
    grid-template-areas:"p  b"


}

#nav-container 
{
    display: grid;
    //grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 50% 50%;
    //Why do I need grid-template-areas? Won't go automatically 

    align-items: center;

    //gap: 24px;
    grid-template-areas:"p  b"


}

#grid-container2
{
    display: grid;
    //grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 50% 50%;
    //Why do I need grid-template-areas? Won't go automatically 

    align-items: center;
  

    //gap: 24px;
    grid-template-areas:"c  e"


}

.grid-item 
{
    height: 100%;

}



#hero
{
    width: 100%;
    

    

}
  
#photo 
{
    background-color: black;
    grid-area: p;
    width: 100%;
    display: flex;
    align-items: center;
}
  
#bio 
{
    background-color: black;
    color: whitesmoke;

    grid-area: b;
    display: flex;
    align-items: center;
}

#tm
{
    
    grid-area: t;
    margin: 0;
   
}

#validator
{


    grid-area: v;
    margin: 0;

}

#drexelcci 
{
    

    grid-area: d;
    margin: 0;


  
}

#contact 
{
    background-color: black;
    color: whitesmoke;

    grid-area: c;
    display: flex;
    align-items: center;
}

#email
{
    background-color: black;
    color: whitesmoke;

    grid-area: e;
    
   
}


#navi
{
    width: 100%;
    display: flex;
    
    justify-content: center;
    justify-content: space-around;
    
 

    

        
  
      a:link, a:visited
      {
          color: var(--purple);
          text-decoration: none;
  
      }
      a:hover, a:active
      {
          color: whitesmoke;
      }
  
}

#navi2
{
    
    
 

    

        
  
      a:link, a:visited
      {
          color: var(--purple);
          text-decoration: none;
  
      }
      a:hover, a:active
      {
          color: rgb(239, 92, 227);
      }
  
}

.hftitles
{
    a:link, a:visited
      {
          color: var(--purple);
          text-decoration: none;
  
      }
      a:hover, a:active
      {
          color: whitesmoke;
      }

}



#section-1
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "t v d";
    align-items: center;
    margin: 0;

    
}

  
  
  

   
  



