/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// XLarge desktops
$screen-xxl-min: 1440px;


// Colors vars
:root {
  --black: #000000;
  --white: #ffffff;

  --green: #74ccd1
  --darkgreen: #2b797c
  --grey: #f0f0f0
  --lightgrey: #fafafa
  --charcoal: #404040

}

